@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
}

/* HOMEPAGE */

/* HEADER */
.background{
    background-image: url(../img/homapage-banner-img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
header {
    background-color: transparent;
    height: auto;
    width: 100%;
    margin: 0 auto;
}
.intro{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 105vh;
}

.homepage-banner {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 30px;
}

.logo {
    margin-left: 15%;
    margin-top: 1rem;
    height: 50px;
    width: 300px;
}

.logo img{
    width: 100%;
    height: auto;
}

.homepage-nav {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 5%;
    align-items: center;
}

.li-nav, .r-soc {
    color: white;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.r-soc{
    margin-left: 5%;
    margin-bottom: 10px;
}
.li-nav-item {
    margin-left: 5rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1px;
}

.r-soc-item a {
    color: white;
    opacity: 0.8;
    font-size: 1.5rem;
    margin-left: 2rem;
}

.new-single {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
}

.new-single, .feel-the-rhythm{
    text-align: left;
    margin-left: 10vh;
}

.text-homepage{
    width: 90%;
    height: auto;
    padding-bottom: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.feel-the-rhythm {
    font-family: 'Poppins', sans-serif;
    font-size: 8rem;
    font-weight: bolder;
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color:transparent;
}

/* Button */

/* Absolute Center */
.abs-center{
	margin: auto;
	position: fixed;
	top:0; right:0; bottom:0; left:0;
}
/*Container for audio player*/
#audioplayer{
	width: 90%;
	height: 60px;
	margin: auto;
}
/* Play/Pause Button */
#pButton{
	height:60px;
	width: 60px;
	border: none;
	background-size: 50% 50%;
	background-repeat: no-repeat;
	background-position: center;
	float:left;
	outline:none;
    margin-top: -10px;

}
/*Classes for play/pause button background*/
.play{background: url('../img/play.png') ;}
.pause{background: url('../img/pause.png') ;}

#timeline{
	width: 85%;
	height: 5px;
	background: rgb(255, 255, 255);
	float: left;
	border-radius: 15px;
    opacity: 0.5;
}

.timeline_time{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
/*Grabable Playhead*/
#playhead{
	cursor: pointer;
	width: 5px;
	height: 30px;
    opacity: 1;
	margin-top: -11px;
	background: white;
}

.musicTime{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-family: Poppins;
    font-size: 25px;
}

.musicbar{
    margin-left: 0px;
}


/* BURGER MENU */


/* BURGER MENU */


/* Next Gig */

.next-gig{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    width: 85%;
    height: auto;
    background-color: #202020;
    position: absolute;
    left: 8%;
    top: 100%;
    border-radius: 10px;
    padding: 50px 0 65px 0;
    overflow: hidden;
    z-index: 1;
    box-shadow: 0 5px 10px 0 darkslategray;
}

.next-gig::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/spectrum.png);
    background-position: center;
    background-size: cover;
    opacity: 0.1;
    z-index: -1;
}

.btn-buy-tickets{
    text-decoration: none;
    color: white;
    background-color: #8121e0;
    padding: 25px 60px;
    border-radius: 5px;
    font-family: Poppins;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    margin-left: 6rem;
    white-space:nowrap;
}


.next-gig .text{
    width: 200px;
    height: auto;
    font-family: Poppins;
}

.next-gig h3{
        font-size: 45px;
        font-weight: 500;
        text-transform: capitalize;
}

.next-gig p{
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
}

.next-gig .countdown h2{
    font-family: Poppins;
    font-size: 90px;
    font-weight: 400;
}

.next-gig .countdown h5{
    font-family: Poppins;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 10px;
    margin-top: -15px;
    opacity: 0.7;
}

.countdown{
    display: flex;
    flex-direction: row;
    margin-top: -20px;
}


.next-gig .countdown div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 4rem;
}


.countdown-days{
    margin-left: 0;
}

/* HEADER */

/*About DJ Angerone*/

.about-dj-angerone{
    display: grid;
    grid: repeat (2);
    background-color: white;
    min-height: 86vh;
    width: 100%;
}

.text-about-dj-angerone{
    word-spacing: 0.2rem;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    color: gray;
    width: 570px;
    margin-top: 12rem;
    grid-column: 2;
    grid-row: 1;
}

.title-about-dj-angerone{
    color: #282828;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 0%;
}

p.text-about-dj-angerone{
    font-size: 25px;
    margin: 1.25rem;
    margin-left: 3rem;
    margin-bottom: 3rem;
    width: 500px;
    
}

.img-about-dj-angerone{
    border-radius: 2%;
    margin: auto;
    margin-top: 12rem;
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
}

.rectangle-thin-1{
    width: 10px;
	height: 40px;
	background:#8121e0;
    position: absolute;
    grid-column: 1;
    grid-row: 1;
    top: 53%;
    left: 35%;
    z-index: 2;
}

.rectangle-thin-2{
    width: 10px;
	height: 40px;
	background:#8121e0;
    position: absolute;
    grid-column: 1;
    grid-row: 1;
    top: 53%;
    left: 36%;
    z-index: 2;
}

.rectangle-bold{
    width: 20px;
	height: 40px;
	background:#8121e0;
    position: absolute;
    grid-column: 1;
    grid-row: 1;
    top: 19%;
    left: 14%;
    z-index: 2;}


/* View Discography */

.view-discography{
     display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 28.125rem;
    width: 100%;
    background-image: url(../img/homepage-latest-releases-background.jpg);
    background-size: cover;
    background-position: center;
    background-color: black;
    position: relative;

    color: white;
    font-family: Poppins;

}

.view-discography h2{
    font-size: 35px;
    font-weight: 500;
    text-transform: capitalize;
    z-index: 1;
    text-align: center;
}

.view-discography a{
    font-size: 17px;
    text-decoration: none;
    color: white;
    background-color: #8121e0;
    padding: 17.5px 35px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 50px;
    z-index: 1;
}

.view-discography::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.3;
    z-index: 0;
}


/* Latest Releases */

.latest-releases{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    font-family: Poppins;
    padding: 160px 0;
}

.latest-releases h2{
    font-size: 36px;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.latest-releases p{
    font-size: 15px;
    max-width: 700px;
    min-height: 20px;
    text-align: center;
    color: grey;
    font-weight: 300;
    line-height: 25px;
}

.album-covers-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
    flex-wrap: wrap;
}

.album-covers-container article{
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 8px;
    margin: 8px;
}

.album-covers-container article h4{
    font-size: 25px;
    font-weight: 500;
}

.album-covers-container article h6{
    font-size: 13px;
    font-weight: 200;
}

.album-cover{
    width: 375px;
    height: 375px;
    margin-bottom: 20px;
}

.album-cover img{
    height: 100%;
    width: auto;
}


/* join-fan-base */

.join-fan-base{
    height: auto;
    width: 100%;
    background-image: url(../img/bg-circle-1.png);
    background-color: #282828;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 150px 0 90px 0;
    color: white;
    font-family: Poppins;
    z-index: -1;
    flex-wrap: wrap;
}

.pictures{
    width: 580px;
    height: 610px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 200px;
    flex-wrap: wrap;
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.row1{
    margin-left: 40px;
    align-items: flex-start;
}

.row div img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.pic1{
    height: 120px;
    width: 160px;
}

.pic2{
    width: 268px;
    height: 156px;
    border-radius: 0px;
    position: relative;
    z-index: 2;

}


/* Tour Schedule */

.tour-schedule h2{
    font-family: Poppins;
    text-align: center;
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 50px;
    height: auto;
}

#container-schedule{
    font-family: Poppins;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    height: 700px;
    width: 1000px;
    border: solid grey 0.5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 100px;
}

.months{
    display: inline-flex;
    justify-content: space-around;
    background-color: black;
    text-align: center;
    color: gray;
    flex-grow: 2;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    margin: 0 auto;
    padding-top: 8px;
    width: 1000px;
}

.march:hover{
    border-bottom: 5px solid purple;
}

.april:hover{
    border-bottom: 5px solid purple;
}

.may:hover{
    border-bottom: 5px solid purple;
}

.timeline-content{
    margin: auto;
    margin-left: 60px;
    padding: 30px;
    padding-left: 60px;
    border-left: 0.2px solid lightslategray;
    position: relative;
    width: 600px;
}

.timeline-content:before{
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    border: 0.5px solid lightslategray;
    position: absolute;
    top: 40px;
    left: -15px;
}

.date{
    margin: auto;
    padding: 10px;
    padding-left: 0px;
    font-size: 20px;
    color: gray;
}

.timeline-content h3{
    font-size: 18px;
}


.txt-13-march{
    width: 500px;
    font-size: 12px;
    font-weight: 100;
    padding-top: 20px;
}

.buy a{
    text-decoration: none;
    color:black;
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    padding-right: 5px;
}

.pic2::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../img/fanbase-2.jpg);
    background-size: cover;
    top: -30px;
    left: 0;
    z-index: -1;
    border-radius: 5px;
 
}

.pic3{
    width: 215px;
    height: 150px;
}

.pic4{
    width: 335px;
    height: 230px;
    margin-left: 27px;
}

.pic5{
    width: 215px;
    height: 150px;
}

.pic6{
    width: 270px;
    height: 190px;
    margin-left: 10px;
}

.join-text{
    max-width: 450px;
    height: auto;
    
}

.join-text h2{
    font-size: 35px;
    line-height: 60px;
}

.join-text p{
    font-size: 15px;
    font-weight: 300;
}


.join-articles{
    display: flex;
    flex-direction: row;
    margin: 30px 0;
    justify-content: flex-end;
    align-items: center;
    margin-left: 45px;
}

.join-articles i{
    font-size: 50px;
    margin-right: 40px;
    color: #8121e0;
}

.join-articles .text h3{
    font-size: 25px;
    font-weight: 500;
    padding: 15px 0;
}


/* Partners & sponsors */

.partners{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 470px;
    width: 100%;
    background-image: url(../img/homepage-sponsors-background.jpg);
    background-size: cover;
    background-position: right -650px;
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;

}

.partners::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 470px;
    width: 100%;
    background-image: url(../img/homepage-sponsors-background.jpg);
    clip-path: inset(350px 0 0 0);
    background-position: center -190px;
    z-index: -1;
    
}

.partners::after{
    content: "";
    height: 470px;
    width: 100%;
    position: absolute;
    background-color: black;
    opacity: 0.3;
    top: 0;
    left: 0;
    z-index: -1;
}

.partners h2 {
    color: white;
    font-family: Poppins;
    font-size: 35px;
}

.partners .dots i{
    font-size: 13px;
    color: white;
    opacity: 0.3;
    margin-left: 2rem;
}

.partners .dots i:nth-child(1){
    color: #8121e0;
    opacity: 1;
}

.logos-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 55px 0;

}

.logos-container li{
    height: 100px;
    width: auto;
    margin-left: 5rem;
    list-style-type: none;
}

.logos-container li a{
    width: auto;
    text-decoration: none;
}

.logos-container li a img{
    height: 100%;
    width: auto;
    filter: invert(100%) hue-rotate(130deg) brightness(100%) contrast(100%);
}

/* TICKETS */

.tickets {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.tickets h2 {
    text-align: center;
    margin: 120px 0;
    font-family: Poppins;
    font-weight: 600;
    font-size: 35px;
}

.price {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 1200px;
    margin-bottom: 100px;
}

.price-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price-item h4 {
    font-family: Poppins;
    font-weight: normal;
    font-size: 12px;
    color: rgb(61, 61, 61);
}

.price-item p {
    font-family: Poppins;
    font-weight: normal;
    font-size: 65px;
    color: rgb(61, 61, 61);
}

.dollar {
    font-family: Poppins;
    font-weight: normal;
    font-size: 14px;
    color: rgb(61, 61, 61);
    position: relative;
    bottom: 37px;
}

.info-price-container {
    font-family: Poppins;
    font-size: 12px;
    font-weight: lighter;
    list-style-type: none;
    color: rgb(61, 61, 61);
}

.price-item button {
    height: 45px;
    width: 100px;
    margin-top: 50px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
}

.price-item button:hover {
    height: 45px;
    width: 100px;
    margin-top: 50px;
    background-color: #8121e0;
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.vertical { 
    border-left: 1px solid;
    color: rgb(230, 230, 230);
    height: 300px; 
    display: inline-block;
}

